/* 项目的公共样式 */

body {
  /* font-family: "Merriweather", Georgia, serif; */
  /* font-family: soleil, Raleway, sans-serif; */
  /* font-family: 'lora'; */
  font-family: 'FangSong', 'STFangSong', serif;
  background: #5a565f;
}

/*清除滚动栏*/
body::-webkit-scrollbar {
  display:none;
}

pre {
  font-family: "Adobe Garamond W01 Bd",RyuminPro-Bold,"游明朝","Yu Mincho","游明朝体",YuMincho,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",HiraMinProN-W3,"HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",serif;
  white-space: pre-wrap;
}

.name {
  display: inline-block;
  color: #f7f7fa;
  margin: 12px;
  margin-bottom: 5px;

  font-family: "Merriweather", Georgia, serif;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #f7f7fa;
}

a:active {
  text-decoration: none;
  color: #f7f7fa;
}

a:visited {
  text-decoration: none;
  color: #f7f7fa;
}

a:hover {
  text-decoration: none;
  color: #f7f7fa;
}

textarea {
  overflow:hidden;
  outline: none;
  background: transparent;
  border: 0;
  resize: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clr {
  float: none;
}

.font-hr {
  margin:  0;
  margin-top: 3px;
  background: #30303061;
}

input {
  outline: none;
}

.text-input {
  font-family: "Merriweather", Georgia, serif;
  background: inherit;
  border: none;
  display: block;
  margin: auto;
  font-size: 16px;
}

.text-input::-webkit-input-placeholder {
  /* placeholder颜色  */
  /* color: #aab2bd; */
  /* placeholder字体大小  */
  font-size: 15px;
  font-weight: 800;
}

.self-info .option {
  font-family: "Adobe Garamond W01 Bd",RyuminPro-Bold,"游明朝","Yu Mincho","游明朝体",YuMincho,"ヒラギノ明朝 Pro W3","Hiragino Mincho Pro",HiraMinProN-W3,"HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",serif;
  font-size: 17px;
  font-weight: bold;
  margin: 5px 5px;
  padding: 5px;
  width: 64px;
  position: absolute;
  text-align: center;
  background: #00000021;
}

.self-info .option li {
    height: 22px;
    margin: 3px auto;
}

.self-info .option a:hover {
    color: black;
}

/* 形如div的button */
.div-btn {
  outline: none;
  border: 0px;
  background: transparent;
}

button {
  outline: none;
}

.right-border {
  border: none;
  border-right: 1px solid #0000005e;
}

li {
  list-style-type: none;
}

table.beauty-table {
  display: block;
  width: 100%;
  height: 320px;

  overflow-y: auto;
}

table thead th {
  font-size: 17px;
}

table thead, tbody tr {
  display: table;
  width: 100%;
  table-layout:fixed;
  text-align: center;
}

table tbody tr {
  /* font-family: Museo Slab,helvetica, */
  font-family: "Merriweather", Georgia, serif;
}

table.beauty-table::-webkit-scrollbar {
  display: none;
}

table.beauty-table tbody {
  border-top: none;
}

table th,td {
  border: 1px solid #00000059 !important;
  border-left: none !important;
  border-right: none !important;
  vertical-align: inherit !important;
}

span.locked {
  color: #f10606d1;
}

span.normal {
  color: #0ea2d1d1;
}

span.admin {
  color: #03bc1cd1;
}

span.sp-admin {
  color: #d914b6d1;
}
/* 分页 */
.pagination {
  justify-content: center;
  align-items: center
}

.pagination li {
  margin: 25px 10px;
  font-size: 20px;
  font-weight: 800;
}

.pagination li a {
  color: #000;
}

.pagination li a.active {
  color: #fff;
}

span.unused {
  font-size: 16px;
  font-weight: 800;
  color: #38a50de8;
}
