<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kioku记事簿</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/master.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="app">
  <div class="self-info">
    <a class="name" href="javascript:;" @click="switchBar">
      <div>{{user.username}}</div>
      <hr style="
          margin:  0;
          margin-top: 3px;
          background: #fff;
          height: 0.2px;">
    </a>
      <ul class="option" v-show="isShow">
          <li><a href="/">主页</a></li>
          <li v-if="user.role > 11"><a href="/admin/">管理员</a></li>
          <li><a href="/login/logout">登出</a></li>
      </ul>
  </div>
  <div class="container">
    <div class="item browse" style="left: 360px">
      <a href="/page/browse" class="title" style="color: #000">回顾</a>
    </div>
    <div class="item new" style="right: 360px;">
      <a href="/page/add" class="title" style="color: #000">记录</a>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/vue.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</html>
